<p>Welcome to <%= title %></p>

<% if (successMessage.length > 0) {%>
  <p class="success"> <%=successMessage %></p>

<% } %>

  <p> Welcome, <%=user.firstName %></p><br>
  <p> Your Home's Name is <%=user.homeName %></p>

<% if ((typeof user.home) === 'undefined') { %>
    <p> Click below if you like to add your home details</p>
    <button onclick="window.location='/home/new';">Home Details</button>
    <br>
    <p> Click below if you like to add new items</p>
    <button onclick="window.location='/items/new';">Add New Item</button>

  <%} else {%>

    <div>Insurance Company: <%=user.home.insuranceCompany%></div>
    <div>Insurance Company Phone: <%=user.home.insurancePhone%></div>
    <div>Agent Name: <%=user.home.agentName%></div>
    <div>Insurance Policy: <%=user.home.insurancePolicy%></div>
    <div>Home Picture : <%=user.home.homePicture%></div>

      <p> Click below if you like to update your home details.</p>
      <button onclick="window.location='/home/new';">Home Details</button>
      <br>
      <p> Click below if you like to add new items</p>
      <button onclick="window.location='/items/new';">Add New Item</button>
      <br>
      <p> Click below if you like to view items</p>
      <button onclick="window.location='/my-item';">View Items</button>

<%}%>

<ul>
  <% if (user) { %>
<button onclick="window.location='/logout';">Logout</button>

  <%}else {%>
<li> <a href="/signup"> Sign Up </a></li>
<li> <a href="/login"> Log In </a></li>
</ul>
<%}%>
