<h1> Item Info </h1>

<ul>
      <h2> <%=item.itemName %> </h2>
      <li> <%=item.itemPicture %></li>
      <li> Room: <%=item.roomName %></li>
      <li> Date Purchased: <%=item.datePurchased %></li>
      <li> Condition: <%=item.condition %> </li>
      <li> Brand: <%=item.brand %> </li>
      <li> Model: <%=item.model %> </li>
      <li> Retailer: <%=item.retailer%></li>
      <li> Serial #: <%=item.serialNumber%></li>
      <li> Price: <%=item.purchasePrice%></li>
      <li> Warranty: <%=item.warranty %></li>
      <li> Warranty #: <%=item.warrantyNumber %></li>
      <li> Receipt Picture: <%=item.receiptPicture %></li>
</ul>

<button onclick="window.location='/my-item';">Item List</button>
