<h1> Item Info </h1>


      <h2> <%=item.itemName %> </h2>
      <div> <%=item.itemPicture %></div>
      <div> Room: <%=item.roomName %></div>
      <div> Date Purchased: <%=item.datePurchased %></div>
      <div> Condition: <%=item.condition %> </div>
      <div> Brand: <%=item.brand %> </div>
      <div> Model: <%=item.model %> </div>
      <div> Retailer: <%=item.retailer%></div>
      <div> Serial #: <%=item.serialNumber%></div>
      <div> Price: <%=item.purchasePrice%></div>
      <div> Warranty: <%=item.warranty %></div>
      <div> Warranty #: <%=item.warrantyNumber %></div>
      <div> Receipt Picture: <%=item.receiptPicture %></div>


<button onclick="window.location='/my-item';">Item List</button>
